#dank{
    width: 750px;
    height: auto;
}
#dank{

    
}
#wrizz{
    width: 750px;
    height: auto;
}
.barrels{
    color: ;
}
body{
    background-color: black;
}
.page{
color: khaki;
    font-size: large;
}
.me{

    color:rgb(255, 243, 243);
}
